{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
<!--====== App Content ======-->
{% block content %}
<div class="app-content">
  <!--====== Section 1 ======-->
  <div class="u-s-p-y-60">
    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
        <div class="breadcrumb">
          <div class="breadcrumb__wrap">
            <ul class="breadcrumb__list">
              <li class="has-separator">
                <a href="{% url 'home:home' %}">Home</a>
              </li>
              <li class="is-marked">
                <a href="{% url 'account:signin' %}">Signin</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== End - Section 1 ======-->
  <!--====== Section 2 ======-->
  <div class="u-s-p-b-60">
    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-60">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section__text-wrap">
              <h1 class="section__heading u-c-secondary">ALREADY REGISTERED?</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Intro ======-->
    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
        <div class="row row--center">
          <div class="col-lg-6 col-md-8 u-s-m-b-30">
            <div class="l-f-o">
              <div class="l-f-o__pad-box">
                <h1 class="gl-h1">I'M NEW CUSTOMER / SELLER</h1>
                <span class="gl-text u-s-m-b-30">By creating an account with our store, you will be able to move through the checkout process faster, store shipping addresses, view and track your orders in your account and more.</span>
                <div class="u-s-m-b-15">
                  {% if user.is_authenticated %}
                  <p>Welcome, You are <b><big> logged in as {{ user.username }},</big></b> please click below to Logout</p>
                  <br>
                  <div class="u-s-m-b-30">
                    <a href="{% url 'account:logout' %}" class="btn btn--e-transparent-brand-b-2" type="submit">LOGOUT</a>
                  </div>
                  {% else %}
                  <a class="l-f-o__create-link btn--e-transparent-brand-b-2" href="{% url 'account:signup_seller' %}">CREATE SELLER ACCOUNT</a>
                </div>
                <div class="u-s-m-b-15">
                  <a class="l-f-o__create-link btn--e-transparent-brand-b-2" href="{% url 'account:signup' %}">CREATE CUSTOMER ACCOUNT</a>
                </div>
                <h1 class="gl-h1">SIGNIN</h1>
                <span class="gl-text u-s-m-b-30">If you have an account with us, please log in.</span>
                <form class="l-f-o__form" method="post">
                  {% csrf_token %}
                  <div class="gl-s-api">
                    <div class="u-s-m-b-15">
                      <button class="gl-s-api__btn gl-s-api__btn--fb" type="button"><a href="{% provider_login_url 'facebook'  %}" style="color: white;" ><i class="fab fa-facebook-f"></i>
                      <span>Signin with Facebook</span></a></button>
                    </div>
                    <div class="u-s-m-b-15">
                      <button class="gl-s-api__btn gl-s-api__btn--gplus" type="button"><a href="{% provider_login_url 'google' %}" style="color: white;" ><i class="fab fa-google"></i>
                      <span>Signin with Google</span></a></button>
                    </div>
                  </div>
                  <div class="u-s-m-b-30">
                    <label class="gl-label" for="login-email"> E-MAIL/ USERNAME *</label>
                    <input class="input-text input-text--primary-style" type="text" name="email_user" value="ravipatel4075@gmail.com" id="login-email" placeholder="Enter E-mail">
                  </div>
                  <div class="u-s-m-b-30">
                    <label class="gl-label" for="login-password">PASSWORD *</label>
                    <input class="input-text input-text--primary-style" type="text" name="passwords" id="login-password"  value= "ravi@12345" placeholder="Enter Password">
                  </div>
                  <div class="gl-inline">
                    <div class="u-s-m-b-30">
                      <button class="btn btn--e-transparent-brand-b-2" type="submit">LOGIN</button>
                    </div>
                    <div class="u-s-m-b-30">
                      <a class="gl-link" href="{% url 'lost_password' %}">Lost Your Password?</a>
                    </div>
                  </div>
                  <div class="u-s-m-b-30">
                    <!--====== Check Box ======-->
                    <div class="check-box">
                      <input type="checkbox" id="remember-me">
                      <div class="check-box__state check-box__state--primary">
                        <label class="check-box__label" for="remember-me">Remember Me</label>
                      </div>
                    </div>
                    {% endif %}
                    <!--====== End - Check Box ======-->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Content ======-->
  </div>
  <!--====== End - Section 2 ======-->
</div>
{% endblock content %}
<!--====== End - App Content ======-->