{% extends 'base.html' %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/product_img_upload.css' %}">

{% endblock css %}
        <!--====== App Content ======-->
        {% block content %}
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a></li>
                                    <li class="is-marked">

                                        <a href="dash-edit-profile.html">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">Hello, {{user_detail.first_name}} {{user_detail.last_name}}</span>
                                            <ul class="dash__f-list">
                                               {% if user_detail.UserType == 'seller' %}
                                                <li>

                                                    <a href="{% url 'profile:manage_myaccount' %}">Manage My Account</a></li>
                                                <li>

                                                    <a href="{% url 'profile:myprofile' %}">My Profile</a></li>
                                                <li>

                                                    <a href="{% url 'profile:address_book' %}">Address Book</a></li>
                                                <li>
                                                    <a href="{% url 'profile:track_order' %}">Manage Order</a></li>
                                                    
                                                <li>
                                                    <a href="{% url 'profile:all_product' %}">Your Products Detail</a></li>

                                                {% else %}

                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                        <div class="dash__pad-1">
                                            <ul class="dash__w-list">   
                                            {% if user_detail.UserType == 'seller' %}
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                        <span class="dash__w-text">4</span>

                                                        <span class="dash__w-name">Pending Orders</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>

                                                        <span class="dash__w-text">0</span>

                                                        <span class="dash__w-name">Cancel Orders</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-3"><i class="fas fa-cart-arrow-down"></i></span>

                                                        <span class="dash__w-text">0</span>

                                                        <span class="dash__w-name">Complete Orders</span></div>
                                                </li>

                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">Add New Product</h1>

                                            <span class="dash__text u-s-m-b-30">You can Select the MainCategory, SubCategory, Category, Offers/General, Product Details</span>
                                            <form class="dash-address-manipulation"  method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                        <!--====== Select Box ======-->
                                                        <label class="gl-label">MAIN CATEGORY *</label><select class="select-box select-box--primary-style" name = "maincategory" id='p_main_category' >
                                                            <option selected disabled >Choose Main Category</option>
                                                            {% for maincategory in ProductMainCategory %}
                                                                <option value="{{maincategory.id}}" >{{maincategory.Main_Category}}</option>
                                                            {% endfor ProductMainCategory %}
                                                            
                                                        </select>
                                                        <!--====== End - Select Box ======-->
                                                    </div>
                                                    <div class="u-s-m-b-30">

                                                        <!--====== Select Box ======-->
                                                        <label class="gl-label" for="address-state">SUB CATEGORY *</label><select name = "subcategory" class="select-box select-box--primary-style" id="p_sub_category">
                                                            <option selected disabled>Choose Sub Category</option>
                                                        </select>
                                                        <!--====== End - Select Box ======-->
                                                    </div>
                                                </div>
                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">

                                                        <!--====== Select Box ======-->
                                                        <label class="gl-label" for="address-country">CATEGORY *</label><select  name = "category" class="select-box select-box--primary-style"  id="p_category">
                                                            <option disabled >Choose Category</option>
                                                        {% for category in ProductCategory %}
                                                                <option value="{{category.id}}">{{category.Category}}</option>
                                                            {% endfor ProductCategory %}                                                            
                                                        </select>
                                                        <!--====== End - Select Box ======-->
                                                    </div>
                                                    <div class="u-s-m-b-30">
                                                        <!--====== Select Box ======-->
                                                        <label class="gl-label" >MAIN PRODUCT *</label><select  name="mainproduct" class="select-box select-box--primary-style" id="p_main_product">
                                                            <option disabled>Choose Main Product</option>

                                                        {% for mainproduct in MainProduct %}
                                                            <option value="{{mainproduct.id}}">{{mainproduct.productcategory.Category}} {{mainproduct.Main_Product}}</option>
                                                        {% endfor MainProduct %}
                                                        </select>
                                                        <!--====== End - Select Box ======-->
                                                    </div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                    <label class="gl-label" >MAIN IMAGE-1 UPLOAD *</label>
                                                        <div class="comman_img_css"> 
                                                            <img src="" id="img_url1" name='' alt="">
                                                            <br>
                                                            <input class="btn_change_img_uplod" name='Product_Img_1' type="file" id="img_file1" onChange="img_pathUrl1(this);">
                                                        </div>                                                 
                                                    </div>
                                                    
                                                    <div class="u-s-m-b-30">
                                                        <label class="gl-label" >IMAGE-2 UPLOAD *</label>
                                                        <div class="comman_img_css"> 
                                                            <img src="" id="img_url2" alt="">
                                                            <br>
                                                            <input class="btn_change_img_uplod" name='Product_Img_2' type="file" id="img_file2" onChange="img_pathUrl2(this);">
                                                        </div>  
                                                    </div>
                                                </div>
                                        
                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                    <label class="gl-label" >IMAGE-3 UPLOAD *</label>
                                                        <div class="comman_img_css"> 
                                                            <img src="" id="img_url3" alt="">
                                                            <br>
                                                            <input class="btn_change_img_uplod" type="file" name='Product_Img_3' id="img_file3" onChange="img_pathUrl3(this);">
                                                        </div>  
                                                    </div>

                                                    <div class="u-s-m-b-30">
                                                        <label class="gl-label" >IMAGE-4 UPLOAD *</label>
                                                        <div class="comman_img_css"> 
                                                            <img src="" id="img_url4"  alt="">
                                                            <br>
                                                            <input class="btn_change_img_uplod" type="file" name='Product_Img_4' id="img_file4" onChange="img_pathUrl4(this);">
                                                        </div>  
                                                    </div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                    <label class="gl-label" >IMAGE-5 UPLOAD *</label>
                                                        <div class="comman_img_css"> 
                                                            <img src="" id="img_url5"  alt="">
                                                            <br>
                                                            <input class="btn_change_img_uplod" type="file" name= 'Product_Img_5' id="img_file5" onChange="img_pathUrl5(this);">
                                                        </div>                                                   
                                                    </div>

                                                    <div class="u-s-m-b-30" >
                                                            
                                                    </div>
                                                </div>
                                                

                                                <div class="gl-inline" style="clear: both;">
                                                    <div class="u-s-m-b-30">                                                    
                                                        <label class="gl-label" for="address-fname" style="margin-top:5px;" >PRODUCT NAME *</label>

                                                        <input class="input-text input-text--primary-style" type="text" name="Product_Title" id="address-fname" value="my first product"  placeholder="First Letter Capital Of Product Name"></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label" for="address-lname">PRODUCT PRICE *</label>

                                                        <input class="input-text input-text--primary-style" type="number" id="address-lname" name = "Product_Price" value='80'  placeholder="Eg. 12000.00"></div>
                                                </div>
                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label" for="address-phone">PRODUCT PERCENTAGE OFF: *</label>

                                                        <input class="input-text input-text--primary-style" type="text" name="Product_Percentage_Off" id="address-phone" value="20"  placeholder="20.00"></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label" for="address-street">PRODUCT CUTTOFF PRICE: *</label>

                                                        <input class="input-text input-text--primary-style" type="text" id="address-street" value= "100" name = "Product_Cutoff_Price" placeholder="Auto detect fields"></div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">                                                    
                                                        <label class="gl-label">PRODUCT DISC: *</label>

                                                        <input class="input-text input-text--primary-style" type="text" name="Product_Disc" value="this is first commit" id="address-fname"  placeholder="First Letter Capital Of Product Name"></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label" >PRODUCT STOCK:  *</label>

                                                        <input class="input-text input-text--primary-style" type="number" name="Product_Stock" value="15"  placeholder="Eg. Integer field 12"></div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">                                                    
                                                        <label class="gl-label">PRODUCT WEIGHT: *</label>

                                                        <input class="input-text input-text--primary-style" type="text"  name = "Product_Weight" value="1.5" placeholder="First Letter Capital Of Product Name"></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label">PRODUCT WARRENTY: *</label>

                                                        <input class="input-text input-text--primary-style" type="text"  name="Product_Warrenty" value="1.5" placeholder="Eg. maintain in year 1.5 stand for one and half year "></div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">

                                                        <span class="gl-label">PRODUCT GARENTY: *</span>
                                                        <div>
                                                            <input type="text" class="input-text input-text--primary-style" value="1.5"  placeholder="Eg. maintain in year 1.5 stand for one and half year"  name ="Product_Garenty">
                                                        </div>
                                                    </div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label">PRODUCT SHIPPING *</label><select class="select-box select-box--primary-style u-w-100" name="ProductShipping">
                                                        <option selected disabled >Select Product Shipping</option>
                                                            <option value="free">free</option>
                                                            <option value="charge">charge</option>
                                                        </select></div>
                                                </div>
                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">                                                    
                                                        <label class="gl-label">PRODUCT TAGS: *</label>

                                                        <input class="input-text input-text--primary-style" type="text" name= "Product_Tags" value="'good','excellent','confortable','eligable'" placeholder="Eg. 'good','excellent','confortable','eligable' "></div>
                                                    <div class="u-s-m-b-30">
                                                    </div>
                                                </div>
                                                <hr>

                                                <h1 class="dash__h1 u-s-m-b-14">Add your Product Imformations From here </h1>
                                                <span class="dash__text u-s-m-b-30">You can Add the Color, size, Material, and etc from here </span>

                                                <div  id="box-question" >
                                                    <div class="gl-inline">
                                                        <div class="u-s-m-b-30">
                                                            <label class="gl-label">Add: *</label>
                                                            <a  id="addQ" class="btn btn--e-brand-b-2" style="padding:8px 23px;">Add</a></div>

                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label">Question: *</label>
        
                                                                <input class="input-text input-text--primary-style"  type="text" required readonly value="Country of origin" name= "ProductInfo_Q" >
                                                            </div>
                                                        <div class="u-s-m-b-30">

                                                            <label class="gl-label">Answer: *</label>

                                                            <input class="input-text input-text--primary-style" type="text" required  placeholder="Your Country Name" name= "ProductInfo_A">
                                                        </div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                        {% comment %} <label class="gl-label">Remove: *</label> {% endcomment %}
                                                        {% comment %} <a class="removeQ btn btn--e-brand-b-2" style="padding:8px 17px;">Remove</a> {% endcomment %} </div>
                                                    
                                                        <div class="u-s-m-b-30">

                                                            <label class="gl-label">Question: *</label>
    
                                                            <input class="input-text input-text--primary-style"  type="text" required readonly value="Department" name= "ProductInfo_Q" ></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label">Answer: *</label>

                                                        <input class="input-text input-text--primary-style" type="text" required placeholder="Men / Women / Electric" name= "ProductInfo_A"></div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                        {% comment %} <label class="gl-label">Remove: *</label> {% endcomment %}
                                                        {% comment %} <a class="removeQ btn btn--e-brand-b-2" style="padding:8px 17px;">Remove</a> {% endcomment %}</div>

                                                        <div class="u-s-m-b-30">

                                                            <label class="gl-label">Question: *</label>
    
                                                            <input class="input-text input-text--primary-style"  type="text" required value="Generic name" readonly name= "ProductInfo_Q" ></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label">Answer: *</label>

                                                        <input class="input-text input-text--primary-style" type="text" required placeholder="Product Eg:- Casual Shirt" name= "ProductInfo_A"></div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                        {% comment %} <label class="gl-label">Remove: *</label>
                                                        <a class="removeQ btn btn--e-brand-b-2" style="padding:8px 17px;">Remove</a> {% endcomment %}</div>

                                                        <div class="u-s-m-b-30">

                                                            <label class="gl-label">Question: *</label>
    
                                                            <input class="input-text input-text--primary-style"  type="text" readonly required value="Brand" name= "ProductInfo_Q" ></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label">Answer: *</label>

                                                        <input class="input-text input-text--primary-style" type="text" required  placeholder="If You Have Brand Eg:- Canon" name= "ProductInfo_A">
                                                    </div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                        {% comment %} <label class="gl-label">Remove: *</label>
                                                        <a class="removeQ btn btn--e-brand-b-2" style="padding:8px 17px;">Remove</a> {% endcomment %}</div>

                                                        <div class="u-s-m-b-30">

                                                            <label class="gl-label">Question: *</label>
    
                                                            <input class="input-text input-text--primary-style"  type="text" readonly required value="Manufacturer" name= "ProductInfo_Q" ></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label">Answer: *</label>

                                                        <input class="input-text input-text--primary-style" type="text" required  placeholder="Your Company Name" name= "ProductInfo_A">
                                                    </div>
                                                </div>

                                                <div id="add-question"></div>

                                                <hr>

                                                <div class="u-s-m-b-15 __web-inspector-hide-shortcut__">
                                                <span class="pd-detail__label u-s-m-b-8">YOUR SELECTED PRODUCT POLICY ARE HERE:</span>
                                                <ul class="pd-detail__policy-list">
                                                    {% for policies in AvailablePolicies %}
                                                    {% if policies.id == 1 %}
                                                    <li><i class="fas fa-check-circle u-s-m-r-8 {{policies.id}}"  style='display:initial' ></i><span class="{{policies.id}}"  value="{{policies.id}}" name="get_checkbox_value" style="display:initial">{{policies.id}} {{policies}}</span></li>
                                                    {% else %}
                                                    <li><i class="fas fa-check-circle u-s-m-r-8 {{policies.id}}" style='display:none' ></i><span class="{{policies.id}}" value="{{policies.id}}" name="get_checkbox_value" style="display:none">{{policies.id}} {{policies}}</span></li>
                                                    {% endif %}

                                                    {% endfor %}

                                                </ul>
                                            </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">                                                    
                                                        <label class="gl-label" for="">TICK HERE TO SELECT YOUR PRODUCT POLICY : *</label>

                                                    {% for policies in AvailablePolicies %}
                                                    {% if policies.id == 1 %}
                                                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" checked value="{{policies.id}}"  onclick="return false;" id="{{policies.id}}" name="pol">&nbsp;&nbsp;  {{policies.id}} {{policies}}</label><br>
                                                    {% else %}
                                                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="{{policies.id}}"  onclick="handleClick(this);" id="{{policies.id}}" name="pol">&nbsp;&nbsp; {{policies.id}} {{policies}}</label><br>
                                                    {% endif %}
                                                    {% endfor %}
                                                    <input type="hidden" value="ravi" name ='allpolicy' id='allpolicy'>
                                                </div>

                                                <button class="btn btn--e-brand-b-2" id="btnn" type="submit">SAVE</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script>
            // this is of the ajax 
            $(document).ready(function(){
                $('#p_main_category').change(function(){
                    //alert('click')
                    $.ajax({
                        type : "GET",
                        url : "{% url 'profile:get_sub_cat' %}",
                        data : {'p_main_category': $('#p_main_category').val()},
                        
                    }).done(function(list){
                        const sub_cat_list = JSON.parse(list);
                        $('#p_sub_category').empty();
                        $('#p_sub_category').append(`<option selected disabled>Choose Sub Category</option>`)

                        sub_cat_list.forEach(function(sub){
                            
                            $('#p_sub_category').append(`<option value = "${sub.pk}">${sub.fields.Sub_Category}</option>`)

                        });
                    })
                });



                $('#p_sub_category').change(function(){ // this id is given when we change the tag option it will run the change function
                    //alert('click')
                    $.ajax({
                        type : "GET",
                        url : "{% url 'profile:get_cat' %}", // # set the name of the url to go to that function
                        data : {'p_sub_category': $('#p_sub_category').val()}, // # by this we have send the data to urls.py functions and views.py function will run the function
                        
                    }).done(function(list){
                        const cat_list = JSON.parse(list);
                        //console.log(list)
                        $('#p_category').empty();
                        $('#p_category').append(`<option selected disabled>Choose Category</option>`)
                        cat_list.forEach(function(sub){
                            console.log(sub.pk,sub.fields.Category)
                            $('#p_category').append(`<option value = "${sub.pk}">${sub.fields.Category}</option>`)

                        });
                    })
                });



                $('#p_category').change(function(){ // this id is given when we change the tag option it will run the change function
                    //alert('click')
                    $.ajax({
                        type : "GET",
                        url : "{% url 'profile:main_product' %}", // # set the name of the url to go to that function
                        data : {'p_category': $('#p_category').val()}, // # by this we have send the data to urls.py functions and views.py function will run the function
                        
                    }).done(function(list){
                        const main_p_list = JSON.parse(list); // #in this statment we have get the data (main product to display the data eg. offer and general) from views.py file jason.parse(data as parameter). and save the data to any variable.
                        
                        $('#p_main_product').empty(); // # by this id we have empty the fields of option given in select tag with id describe. 
                        $('#p_main_product').append(`<option selected disabled>Choose Main Product</option>`) // # then we have append  the disable single option from the query written in (``) format.
                        main_p_list.forEach(function(sub){ // we have run the for loop on our data and run the function with sub parameter it will take one data by indexing and create the optin fields
                            //console.log(sub.fields.Category)
                            $('#p_main_product').append(`<option value="${sub.pk}" >${sub.fields.Main_Product}</option>`)

                        });
                    })
                });


            });

            ////////////////////////////////////////////////////////////////
            function handleClick(cb) {
                var idCheckBox = cb.getAttribute('id');
                var changeableTags=document.getElementsByClassName(idCheckBox);
                if(cb.checked === true){
                    console.log("true");
                    console.log(idCheckBox)
                    for(i=0; i<changeableTags.length; i++)
                    {
                    changeableTags[i].style.display="initial";
                    }
                }else{
                    console.log("false");
                    //console.log(idCheckBox)
                    for(i=0; i<changeableTags.length; i++)
                    {
                    changeableTags[i].style.display="none";
                    }
                }
                };
        
        
                function getSelectedCheckboxValues(name) {
                    const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
                    let values = [];
                    checkboxes.forEach((checkbox) => {
                    values.push(checkbox.value);
                    });
                    return values;
                    }
        
                    //const btn = document.querySelector('#btnn');
                    //btn.addEventListener('click', (event) => {
                      //  event.preventDefault()
                        //$('#allpolicy').attr('value', getSelectedCheckboxValues('pol'))
                        //alert(getSelectedCheckboxValues('pol'));
                    //});
        
                    $('form').submit(function(e){
                        e.preventDefault()
                        $('#allpolicy').attr('value', getSelectedCheckboxValues('pol'))
                        $(this).unbind('submit').submit()
                    })


                    /////////////////////this is of the images previw in jquery
                    

                function img_pathUrl1(input){
                    $('#img_url1')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
                }

                function img_pathUrl2(input){
                    $('#img_url2')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
                }

                function img_pathUrl3(input){
                    $('#img_url3')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
                }

                function img_pathUrl4(input){
                    $('#img_url4')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
                }

                function img_pathUrl5(input){
                    $('#img_url5')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
                }

                /////////////////////////////////////////////////////////////////

                $('#addQ').on('click', function(e){
                    e.preventDefault();
                    const xhtml = `<div class="gl-inline">
                        <div class="u-s-m-b-30">
                            <label class="gl-label">Remove: *</label>
                            <a class="removeQ btn btn--e-brand-b-2" style="padding:8px 17px;">Remove</a></div>

                            <div class="u-s-m-b-30">

                                <label class="gl-label">Question: *</label>

                                <input class="input-text input-text--primary-style"  type="text"  placeholder="" required name= "ProductInfo_Q"></div>
                        <div class="u-s-m-b-30">

                            <label class="gl-label">Answer: *</label>

                            <input class="input-text input-text--primary-style" type="text"  placeholder="" required name= "ProductInfo_A"></div>
                    </div>`
                    //console.log(xhtml)
                    $('#add-question').append(xhtml)
                });

                $(document).on('click', '.removeQ', function(){
                    
                    $(this).parent().parent('div').remove()
                });

        </script>





         {% block javascript %}

        {% endblock javascript %}


        {% endblock content %}
